<h1> Dashboard </h1>
<div class = "row">
	<div class = "col-md-4">
		<%= render :file => 'newsposts/index' %>
	</div>
	<div class = "col-md-4">
		<%= render :file => 'locations/index' %>
	</div>
	<div class = "col-md-4">
		<%= render :file => 'feedbacks/index' %>
	</div>
</div>
