<div style="color:#ffffff; font-family:Montserrat">
<h1> Dashboard </h1>
<div>
	<div>
		<%= render :file => 'newsposts/index' %>
	</div><br>
	<div>
		<%= render :file => 'locations/index' %>
	</div><br>
	<div>
		<%= render :file => 'feedbacks/index' %>
	</div>
</div>
</div>