<!-- <div class="biglogo" style="background-image:url('http://i.imgur.com/ewnDxWZ.png');">
</div> -->
<div class="pic" style="margin-left:auto; margin-right:auto; padding-bottom:100px; padding-top:100px; text-align:center;">
<img src="http://i.imgur.com/ewnDxWZ.png">
</div>
<h1 style="color:#ffffff; font-family:Montserrat; text-align:center">WELCOME TO THE GREATER VANCOUVER FOOD BANK ADMIN PORTAL</h1>